<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">software &amp;&amp; sounds</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Meredith Lane</li>
          <li><a class="u-email" href="mailto:meredith@softwaresounds.com">meredith@softwaresounds.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/mrrdth"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username">mrrdth</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Personal site for Meredith Lane, a software and sound engineer living in Sydney, Australia. Accessibility,
          Web Design, Sound Design.</p>
      </div>
    </div>

  </div>

</footer>